<div id="homeComponent">
  <h4>What am I eating today?</h4>
  <div class="pageItem">
    <a class="btn btn-info dropdown-toggle" href="#" role="button" (click)=onShowRecipes()>
    Choose your recipe
    </a>
  </div>
  <div *ngIf="updatedRecipe" class="container">
    <h4 class="display-8">{{updatedRecipe.name}}</h4>
  </div>
  <ul *ngIf="showRecipes" class="list-group">
    <li *ngFor="let recipe of recipes" class="list-group-item" href="#" (click)=onSelect(recipe)><h5>{{recipe.name}}</h5></li>
  </ul>
  <div *ngIf="updatedRecipe">
    <ul class="list-group" id="selectedRecipeIngredients">
      <li class="list-group-item " *ngFor="let ingredient of updatedRecipe.ingredients">
        <span class="d-flex justify-content-between align-items-center" (click)="onHideAlternateIngredients()">
          {{ingredient.qty}} g - {{ingredient.name}} - {{ingredient.resourceConsumption}} l 
          <span class="badge badge-primary badge-pill" (click)="onShowAlternateIngredients(ingredient)">v</span>
        </span>

        <div class="pageItem" *ngIf="alternateIngredients && ingredient.name == alternateIngredientsDisplayedFor">
          <h6>Alternate ingredients</h6>
          <ul class="list-group" id="alternateRecipeIngredients">
            <li class="list-group-item " *ngFor="let alternateIngredient of alternateIngredients">
              <span class="d-flex justify-content-between align-items-center">
                {{alternateIngredient.qty}} g - {{alternateIngredient.name}} - {{alternateIngredient.resourceConsumption}} l 
                <span class="badge badge-primary badge-pill" (click)="onSwapIngredientsInRecipe(ingredient, alternateIngredient)">^</span>
              </span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="pageItem">
      <h5>Total water consumption: {{updatedRecipe.resourceConsumption}} litres</h5>
    </div>
    <p>We would like to recommend similar recipes with lower cost to the environment.</p>
    <p>
      <a id="viewRecipeRecommendations" class="btn btn-info" href="#viewRecipeRecommendations" role="button" (click)=onViewRecommendations()>
        View Recommendations
      </a>
    </p>

    <ul *ngIf="showRecipeRecommendations" class="list-group" id="recommendedRecipes">
      <li class="list-group-item" *ngFor="let recommendation of recipeRecommendations" >
        <h5 (click)=onShowIngredientsOfRecommendedRecipe(recommendation)>{{recommendation.recipe.name}}</h5>
        <div *ngIf="recommendation.showIngredients">
          <h6>Ingredients: </h6>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recommendation.recipe.ingredients" >
              <span>{{ingredient.qty}} g - {{ingredient.name}} - {{ingredient.resourceConsumption}} l</span>
            </li>
          </ul>
          <p class="pageItem">Total water consumption: {{recommendation.recipe.resourceConsumption}} litres</p>
          <a href="#" role="button" (click)=onChoosingRecommendedRecipe(recommendation)>
            I will use this recipe instead
          </a>
        </div>
      </li>
    </ul>

    <p>
      <a id="consumeFood" class="btn btn-info" href="#consumeFood" role="button" (click)="onConsumeFood(updatedRecipe)">
        Consume Food
      </a>
    </p>  
  </div>
</div>
