<div id="homeComponent">
  <h4>What am I eating today?</h4>
  <div>
    <a class="btn btn-success dropdown-toggle" href="#" role="button" (click)=onShowRecipes()>
    Choose a recipe
    </a>
    <input *ngIf="selectedRecipe" disabled value="{{selectedRecipe.name}}">
  </div>
  <div *ngIf="showRecipes">
    <a *ngFor="let recipe of recipes" class="dropdown-item" href="#" (click)=onSelect(recipe)>{{recipe.name}}</a>
  </div>
  <div *ngIf="selectedRecipe">
    <ul id="selectedRecipeIngredients">
      <li *ngFor="let ingredient of selectedRecipe.ingredients">
        <span>{{ingredient.name}} - {{ingredient.resourceConsumption}}</span>
      </li>
    </ul>
    <p>Total consumption: {{selectedRecipe.resourceConsumption}}</p>
    <p>We would like for similar recipes with lower cost to the environment.</p>
    <p>
      <a class="btn btn-primary" href="#" role="button" (click)=onViewRecommendations()>
        View Recommendations
      </a>
    </p>
    <div *ngIf="showRecipeRecommendations">
      <div *ngFor="let recommendation of recipeRecommendations" class="card">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <a href="#" role="button" (click)=onShowIngredientsOfRecommendedRecipe(recommendation.recipeId)>
                {{recommendation.recipe.name}}
              </a>
            </h5>
          </div>
      
          <div *ngIf="recommendation.showIngredients">
            <div class="card-body">
              <ul>
                <li *ngFor="let ingredient of recommendation.recipe.ingredients">
                  <span>{{ingredient.name}} - {{ingredient.resourceConsumption}}</span>
                </li>
              </ul>
              <p>Total consumption: {{recommendation.recipe.resourceConsumption}}</p>
            </div>
            <a href="#" role="button" (click)=onChoosingRecommendedRecipe(recommendation)>
              I will use this recipe instead
            </a>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" href="#" role="button" (click)=onHideRecommendations()>
        Hide Recommendations
      </a>
    </div>
  </div>
</div>
