<div id="homeComponent">
  <h4>What am I eating today?</h4>
  <form>
    <div class="form-group">
      <label for="recipeList">Recipe</label>
      <select class="form-control" id="recipeList" (change)="onSelect($event.target.value)">
        <option value="-1">
          <span>Select a recipe</span>
        </option>
        <option *ngFor="let recipe of recipes" value="{{recipe.id}}">
          <span>{{recipe.name}}</span>
        </option>
      </select>
    </div>
  </form>
  <div *ngIf="selectedRecipe">
    <ul id="selectedRecipeIngredients">
      <li *ngFor="let ingredient of selectedRecipe.ingredients">
        <span>{{ingredient.name}} - {{ingredient.resourceConsumption}}</span>
      </li>
    </ul>
    <p>Total consumption: {{recipeResourceConsumption}}</p>
    <p>We would like for similar recipes with lower cost to the environment.</p>
    <p>
      <a class="btn btn-primary" href="#" role="button" (click)=onViewRecommendations()>
        View Recommendations
      </a>
    </p>
    <div *ngIf="showRecipeRecommendations">
      <div *ngFor="let recommendation of recipeRecommendations" class="card">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <a href="#" role="button" (click)=onShowIngredientsOfRecommendedRecipe(recommendation.recipeId)>
                {{recommendation.recipe.name}}
              </a>
            </h5>
          </div>
      
          <div *ngIf="recommendation.showIngredients">
            <div class="card-body">
              <ul>
                <li *ngFor="let ingredient of recommendation.recipe.ingredients">
                  <span>{{ingredient.name}} - {{ingredient.resourceConsumption}}</span>
                </li>
              </ul>
              <p>Total consumption: {{recipeResourceConsumption}}</p>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" href="#" role="button" (click)=onHideRecommendations()>
        Hide Recommendations
      </a>
    </div>
  </div>
</div>
