<div class="dashboardDiv">
  <div class="card dashboardCard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Today</h5>
      <p class="card-text">{{overview.today}}</p>
    </div>
  </div>
  <div class="card dashboardCard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">This week</h5>
      <p class="card-text">{{overview.week}}</p>
    </div>
  </div>
  <div class="card dashboardCard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">This month</h5>
      <p class="card-text">{{overview.month}}</p>
    </div>
  </div>
  <div class="card dashboardCard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">This year</h5>
      <p class="card-text">{{overview.year}}</p>
    </div>
  </div>
</div>
