<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Sustainable Recipes</a>
  <button class="navbar-toggler" type="button" (click)="onNavbarToggle()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="showHome" class="nav-item active">
        <a class="nav-link" href="#" (click)=onShowHome()>Home <span *ngIf="showHome" class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!showHome" class="nav-item">
        <a class="nav-link" href="#" (click)=onShowHome()>Home <span *ngIf="showHome" class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="showAddRecipe" class="nav-item active">
        <a class="nav-link" href="#" (click)=onShowAddRecipe()>Add Recipe <span *ngIf="showAddRecipe" class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!showAddRecipe" class="nav-item">
        <a class="nav-link" href="#" (click)=onShowAddRecipe()>Add Recipe <span *ngIf="showAddRecipe" class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="showDashboard" class="nav-item active">
        <a class="nav-link" href="#" (click)=onShowDashboard()>Dashboard <span *ngIf="showDashboard" class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!showDashboard" class="nav-item">
          <a class="nav-link" href="#" (click)=onShowDashboard()>Dashboard <span *ngIf="showDashboard" class="sr-only">(current)</span></a>
        </li>
      </ul>
  </div>
</nav>
<div *ngIf="showHome">
    <app-home></app-home>
</div>
<div *ngIf="showAddHome">
    <app-home></app-home>
</div>
<div *ngIf="showDashboard">
    <app-dashboard></app-dashboard>
</div>
